.container{
    display: grid; 
    height: 100vh; /* 100% of the viewport height */
    grid-template-columns: 25% 75%; /* 2 columns with 25% and 75% width */
    grid-template-rows: 10% 80% 10%; /* 3 rows with 20%, 70% and 10% height */
    grid-template-areas: 
        "header header2"
        "sidebar main"
        "footer footer";
    grid-row-gap: 0.2rem; /* 0.2rem gap between the columns and rows */
}

main{
    background-color: beige;
    grid-area: main;
}

#header1{
    grid-area: header;
    background-color: #f5f4f4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "logo tittle";
    align-items: center;
}
img{
    max-width: 70%;
    max-height: 70%;
    align-self: center;
}
#logo{
    grid-area: logo;
    max-height: 100%;
    max-width: 100%;
    
}
#header2{
    background-color: #f5f4f4;
    grid-area: header2;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
        ". . signUp logIn";
}
.rowWrapper{
    display:contents;
    width: 100%;
    height: 100%;
}
.rowWrapper:hover > *{
    background-color: gray;
}

button{
    padding: 0.5rem;
    width: 90%;
    height: 70%;
    text-align: center;

}
#signUp{
    grid-area: signUp;
    align-self: center;
   
}
#logIn{
    grid-area: logIn;
    align-self: center;
    justify-self: center;
}
#sidebar{
    background: lightcyan;
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 15%% 20%;
    grid-template-areas: 
        "tab1"
        ". "
        "link1"
        "link2";
    align-items: center;
    justify-items: center;
    grid-gap: 0.5rem;
}

.menu-items tr:hover {
    background-color: red;
}

footer{
    background: lightcoral;
    grid-area: footer;
}

@media only sreen and (max-width:700px){
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
=}

.flex-container >div {
    font-size: 20px;
    overflow-wrap: anywhere;
    text-align: center;
    width: 100%;
    height: 400px;
}
.flex-container >div:hover {
    background-color: darkgray;
}

.playlists {
    overflow: scroll;
    max-height: 95%;
}











/*
.grid {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr min-content;
    grid-gap: 1em;
}

.left-side {
    background: lightblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    position: absolute;
    width: 20%;

}






.right-side {
    background: lightgreen;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: scroll;
    height: 100%;
    max-height: 1000px;
}


header {
    grid-column-start: 1;
    grid-column-end: 3;

}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    background: lightcoral;
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    text-align: center;
    padding: 1%;
}


.menu-items {
    table-layout: fixed;
}


.menu-items td {
    width: 25%;
    padding: 1%;
}

.menu-items tr:hover {
    background-color: red;
}

.menu-items .blank_row {
    height: 100px
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
=}

.flex-container >div {
    font-size: 20px;
    overflow-wrap: anywhere;
    text-align: center;
    width: 100%;
    height: 400px;
}
.flex-container >div:hover {
    background-color: darkgray;
}

@media only screen and (max-width:800px)
{
    body {
        height: 100%;
        width: 100%;
    }
}


*/