
#container1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 11% 89%;
    grid-template-rows: 10% 2% 80% 2% 6%;
    grid-template-areas:
        "header header2"
        ". ."
        "sidebar main-section"
        ". ."
        "footer footer";
}

#main-section {
    grid-area: main-section;
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    grid-template-columns: unset;
    grid-template-rows: unset;
    overflow: scroll;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

#title {
    grid-area: title;
    color: #9c3433;
    font-family: 'Material Symbols Outlined';
    font-size: large;
    position: absolute;
    left: 12%;
}

#header1 {
    grid-area: header;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas:
        "logo title";
    align-items: center;

}



#logo {
    grid-area: logo;
    width: 11%;
    position: absolute;
    top: 3%;
    left: 2%;

}

#header2 {
    grid-area: header2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        ". . signUp logIn";
}

.rowWrapper {
    display: contents;
    width: 100%;
    height: 100%;
}

.rowWrapper:hover>* {
    background-color: gray;
}

#header2 button {
    padding: 0.5rem;
    width: 58%;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4%;
    font-weight: 300;
    transition: 0.4s;
    font-family: sans-serif;
}

#header2 button:hover {
    color: #ffffff;
    background-color: rgb(157 51 51);
}
  
#signUp {
    
    grid-area: signUp;
    align-self: center;
    margin-left: 80%;
}

#logIn {
    grid-area: logIn;
    align-self: center;
    margin-left: 42%;
}


#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 60% 20% 5% 5% 10%;
    grid-template-areas:
        "."
        "tab1"
        ". "
        "link1"
        "link2"
        ".";
    text-align: center;
}

.menu-items tr:hover {
    background-color: lightgray;
}

footer {
    grid-area: footer;
    text-align: center;
    background: black;
    height: fit-content;
}

@media (max-width:700px) {
    #container1 {
        display: grid;
        height: 100vh;
        grid-template-columns: 13% 87%;
        grid-template-rows: 8% 2% 80% 2% 8%;
        grid-template-areas:
            "header header2"
            ". ."
            "sidebar main-section"
            ". ."
            "footer footer";
    }
    .menu-items .icon-label {
        display: none;
    }

    footer {
        font-size: small;
    }
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}

.flex-container>div {
    font-size: 20px;
    overflow-wrap: anywhere;
    text-align: center;
    width: 100%;
    padding: 5%;
    height: 300px;
}

p{
    font-size: 80%;
}

.album-img .btn {
    position: relative;
    top: 8%;
    left: 5%;
    width: 38%;
    height: 20%;
    border-radius: 35%;
    display: none;
    border-style: none;
}

.album-img .btn-pause {
    position: relative;
    top: -12%;
    left: 50%;
    width: 38%;
    height: 20%;
    border-radius: 35%;
    display: none;
    border-style: none;
}
.album-img:hover {
    background: lightgray;
}
.album-img:hover .btn {
    display: block;
}
.album-img:hover .btn-pause {
    display: block;
}

/* Style for Login and Sign Up */

input[type=text], input[type=password]{
    width: 100%;
    padding: 2% 2%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  #id01 button,  #id02 button  {
    background-color: rgb(157 51 51);
    color: white;
    padding: 2% 2%;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

.imgcontainer {
    text-align: center;
    margin: 15% 0 10% 0;
  }
  
  img.avatar {
    width: 40%;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }

  #id01, #id02{
    height: 100%;
    overflow: scroll;
  }
  
  #id01 .modal,  #id02 .modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: scroll; 
    padding-top: 60px;
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    width: 80%; }
  
  
  /* Add Zoom Animation */
  .animate {
    animation: animatezoom 0.4s
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  }
