
#footer-audio {
    display: none;
    position: relative;
    align-items: center;
    grid-auto-flow: row;
    grid-template-columns: unset;
    grid-template-rows: unset;
    overflow: scroll;
    width: 100%;
    height: 100%;
    grid-template-columns: 1f 1f 1f ;
    grid-template-rows: 1f;
    grid-template-areas:
        "footer-img footer-song-name song"
}
#song {
    grid-area: song / song / song / song;
    position: absolute;
    height: 70%;
    left: -20%;
}
#footer-img{
    grid-area: footer-img;
    position: absolute;
    height: 100%;
    left: 39%;
    width: auto;
    top: -6%;
}

#footer-song-name {
    grid-area: footer-song-name / footer-song-name / footer-song-name / footer-song-name;
    position: absolute;
    left: -35%;
    top: -5%;
    font-family: serif;
    font-size: larger;
    display: inline-block;
    margin: 25px 40px;
}

#container1 {
    display: grid;
    overflow: hidden;
    height: 100vh;
    grid-template-columns: 13% 87%;
    grid-template-rows: 8% 2% 80% 2% 8%;
    grid-template-areas:
        "header header2"
        ". ."
        "sidebar main-section"
        ". ."
        "footer footer";
}
#containerP {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 11% 89%;
    grid-template-rows: 10% 2% 78% 2% 7%;
        grid-template-areas:
        "header header3"
        ". ."
        "sidebar main-section"
        ". ."
        "footer footer";
}

#main-section {
    grid-area: main-section;
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    grid-template-columns: unset;
    grid-template-rows: unset;
    overflow: scroll;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

#title {
    grid-area: title;
    color: #9c3433;
    font-family: 'Material Symbols Outlined';
    font-size: large;
    position: absolute;
    left: 12%;
}

#header1 {
    grid-area: header;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas:
        "logo title";
    align-items: center;

}



#logo {
    grid-area: logo;
    width: 11%;
    position: absolute;
    top: 3%;
    left: 2%;

}

#header2 {
    grid-area: header2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        ". . signUp logIn";
}

#header3 {
    grid-area: header3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        ". . my-input profile-dropdown";
}

.rowWrapper {
    display: contents;
    width: 100%;
    height: 100%;
}

.rowWrapper:hover>* {
    background-color: gray;
}

.not-logged-in button {
    padding: 0.5rem;
    width: 58%;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4%;
    font-weight: 300;
    transition: 0.4s;
    font-family: sans-serif;
}

.not-logged-in button:hover {
    color: #ffffff;
    background-color: rgb(157 51 51);
}


.logged-in button {
    padding: 0.5rem;
    width: 100%;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4%;
    font-weight: 300;
    transition: 0.4s;
    font-family: sans-serif;
}

.logged-in button:hover {
    color: #ffffff;
    background-color: rgb(157 51 51);
}
  
#signUp {
    
    grid-area: signUp;
    align-self: center;
    margin-left: 80%;
}



#logIn {
    grid-area: logIn;
    align-self: center;
    margin-left: 42%;
}

 
#profile {
    border: none;
    position: absolute;
    left: 40%;
    height: 87%;
    border-radius: 50%;
}

#profile-dropdown {
    grid-area: profile-dropdown;
    position: relative;
    display: inline-block;
}

#profile-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 98%;
    left: 17%;
}

#profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}



#profile-dropdown-content a:hover {background-color: #ddd;}
#profile-dropdown:hover #profile-dropdown-content {display: block;}

#myInput {
    
    background-position: left;
    background-size: 14%;
    background-repeat: no-repeat;
    background-position-x: 7%;
    width: 100%;
    font-size: 16px;
    padding: 12px 9px 11px 71px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    background-image: url(https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_1280.png);
    background-blend-mode: difference;
}
#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 60% 20% 5% 5% 10%;
    grid-template-areas:
        "."
        "tab1"
        ". "
        "link1"
        "link2"
        ".";
    text-align: center;
}

.menu-items tr:hover {
    background-color: lightgray;
}

footer {
    grid-area: footer;
    text-align: center;
    /*background: rgba(226, 224, 224, 0.903);*/
}

@media (max-width:700px) {
    #container1 {
        display: grid;
        height: 100vh;
        grid-template-columns: 13% 87%;
        grid-template-rows: 8% 2% 80% 2% 8%;
        grid-template-areas:
            "header header2"
            ". ."
            "sidebar main-section"
            ". ."
            "footer footer";
    }
    .menu-items .icon-label {
        display: none;
    }

    footer {
        font-size: small;
    }
}


@media (max-width:700px) {
    #containerP {
        display: grid;
        height: 100vh;
        grid-template-columns: 13% 87%;
        grid-template-rows: 8% 2% 80% 2% 8%;
        grid-template-areas:
            "header header3"
            ". ."
            "sidebar main-section"
            ". .";
    }
    .menu-items .icon-label {
        display: none;
    }

    footer {
        font-size: small;
    }
}


.flex-container , .playlists-flex-container, .playlists-flex-container-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}

.flex-container>div , .playlists-flex-container>div, .playlists-flex-container-2>div{
    font-size: 20px;
    overflow-wrap: anywhere;
    text-align: center;
    width: 100%;
    padding: 5%;
    height: 300px;
}

p{
    font-size: 80%;
}



.album-img .btn {
    position: relative;
    top: 8%;
    left: 5%;
    width: 38%;
    height: 20%;
    display: none;
    border-style: none;
}

.album-img .btn-pause {
    position: relative;
    top: -12%;
    left: 50%;
    width: 38%;
    height: 20%;
    display: none;
    border-style: none;
}
.album-img:hover {
    background: lightgray;
}
.album-img:hover .btn {
    display: block;
}
.album-img:hover .btn-pause {
    display: block;
}

/* Style for Login and Sign Up */

input[type=text], input[type=password]{
    width: 100%;
    padding: 2% 2%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
   #id00 button, #id01 button,  #id02 button, .btn-playlist  {
    background-color: rgb(157 51 51);
    color: white;
    padding: 2% 2%;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

.imgcontainer {
    text-align: center;
    margin: 15% 0 10% 0;
  }
  
  img.avatar {
    width: 40%;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }

  #id04, #id00, #id01, #id02{
    display: none;
    height: 100%;
    overflow: scroll;
  }
  
  #id04 .modal, #id00 .modal, #id01 .modal,  #id02 .modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: scroll; 
    padding-top: 60px;
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    width: 80%; }
  
  
  /* Add Zoom Animation */
  .animate {
    animation: animatezoom 0.4s
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  }

.material-symbols-outlined{
    color: rgb(0, 0, 0);
}


.bar{
    position: relative;
    width: 43%;
    height: 2px;
    background-color: rgb(105, 105, 105, .1);
    margin: 0px 15px 0px 10px;

}
#dropdown-search-main{
    grid-area: my-input;
    position: relative;
    display: inline-block;
    width: 100%;

}
  #dropdown-search{
    position: relative;
    display: inline-block;
    width: 100%;
  }
    
  #dropdown-search-main:hover #myUL-songs-main {display: block;}
  
  
  
  #dropdown-search:hover #myUL-songs {display: block;}
  
  
  #playlist-song-input {
    background-position: left;
    background-size: 5%;
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 6%;
    background-image: url(https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_1280.png);
    background-blend-mode: difference;
  }
  
  #myUL-songs, #myUL-songs-main {
  display:none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL-songs li a, #myUL-songs-main li a  {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL-songs li a:hover:not(.header), #myUL-songs-main li a:hover:not(.header) {
    background-color: #eee;
  }

  input {
    border: 1px solid #9e9e9ecc;
  }

