
#footer-audio {
    display: none;
    position: relative;
    align-items: center;
    grid-auto-flow: row;
    grid-template-columns: unset;
    grid-template-rows: unset;
    overflow: scroll;
    width: 100%;
    height: 100%;
    grid-template-columns: 1f 1f 1f ;
    grid-template-rows: 1f;
    grid-template-areas:
        "footer-img footer-song-name song"
}
#song {
    grid-area: song / song / song / song;
    position: absolute;
    height: 70%;
    left: -20%;
}
#footer-img{
    grid-area: footer-img;
    position: absolute;
    height: 100%;
    left: 39%;
    width: auto;
    top: -6%;
}

#footer-song-name {
    grid-area: footer-song-name / footer-song-name / footer-song-name / footer-song-name;
    position: absolute;
    left: -35%;
    top: -5%;
    font-family: serif;
    font-size: larger;
    display: inline-block;
    margin: 25px 40px;
}

#container1 {
    display: grid;
    overflow: hidden;
    height: 100vh;
    grid-template-columns: 12% 88%;
    grid-template-rows: 8% 2% 80% 2% 8%;
    grid-template-areas:
        "header header2"
        ". ."
        "sidebar main-section"
        ". ."
        "footer footer";
    max-height: 800px;
}
#containerP {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 11% 89%;
    grid-template-rows: 10% 2% 78% 2% 7%;
        grid-template-areas:
        "header header3"
        ". ."
        "sidebar main-section"
        ". ."
        "footer footer";
}

#main-section {
    grid-area: main-section;
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    grid-template-columns: unset;
    grid-template-rows: unset;
    overflow: scroll;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    transition: filter 0ms ease-in-out 300ms;

}

#title {
    grid-area: title / title / title / title;
    color: #000000c7;
    font-family: Audiowide;
    position: absolute;
    left: 12%;
}

#header1 {
    grid-area: header;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas:
        "logo title";
    align-items: center;

}



#logo {
    grid-area: logo;
    width: 8.5%;
    position: absolute;
    top: 1%;
    left: 2.5%;
}

#header2 {
    grid-area: header2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        ". . signUp logIn";
}

#header3 {
    grid-area: header3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        ". . my-input profile-dropdown";
}

.rowWrapper {
    display: contents;
    width: 100%;
    height: 100%;
}

.rowWrapper:hover>* {
    background-color: gray;
}

.not-logged-in button {
    padding: 0.5rem;
    width: 58%;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4%;
    font-weight: 300;
    transition: 0.4s;
    font-family: sans-serif;
}

.not-logged-in button:hover {
    color: #ffffff;
    background-color: rgb(157 51 51);
}


.logged-in button {
    padding: 0.5rem;
    width: 100%;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4%;
    font-weight: 300;
    transition: 0.4s;
    font-family: sans-serif;
}

.logged-in button:hover {
    color: #ffffff;
    background-color: rgb(157 51 51);
}
  
#signUp {
    
    grid-area: signUp;
    align-self: center;
    margin-left: 80%;
}



#logIn {
    grid-area: logIn;
    align-self: center;
    margin-left: 42%;
}

 
#profile {
    position: absolute;
    left: 26%;
    top: 0%;
    height: 106%;
    border-radius: 0%;
    width: auto;
    box-shadow: 0 0 29px rgb(80 79 79 / 65%), 0px 4px 14px rgb(150 131 131 / 46%);
    border-radius: 4%;
    cursor: pointer;
}

#profile-dropdown {
    grid-area: profile-dropdown;
    position: relative;
    display: inline-block;
    z-index: 100;
}

#profile-dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(241, 241, 241);
    min-width: 160px;
    border-radius: 4%;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 16px 0px;
    z-index: 1;
    top: 106%;
    left: 17%;
}

#profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}



#profile-dropdown-content a:hover {background-color: #ddd;}
#profile-dropdown:hover #profile-dropdown-content {display: block;}

#myInput {
    
    background-position: 7% center;
    background-size: 14%;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 9px 11px 71px;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 12px;
    background-image: url(https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_1280.png);
    background-blend-mode: difference;
    background-size: 9%;
}
#sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 60% 20% 5% 5% 10%;
    grid-template-areas:
        "."
        "tab1"
        ". "
        "link1"
        "link2"
        ".";
    text-align: center;
}

.menu-items tr:hover {
    background-color: lightgray;
}

footer {
    grid-area: footer;
    text-align: center;
    /*background: rgba(226, 224, 224, 0.903);*/
}

@media (max-width:700px) {
    #container1 {
        display: grid;
        height: 100vh;
        grid-template-columns: 13% 87%;
        grid-template-rows: 8% 2% 80% 2% 8%;
        grid-template-areas:
            "header header2"
            ". ."
            "sidebar main-section"
            ". ."
            "footer footer";
    }
    .menu-items .icon-label {
        display: none;
    }

    footer {
        font-size: small;
    }
}


@media (max-width:700px) {
    #containerP {
        display: grid;
        height: 100vh;
        grid-template-columns: 13% 87%;
        grid-template-rows: 8% 2% 80% 2% 8%;
        grid-template-areas:
            "header header3"
            ". ."
            "sidebar main-section"
            ". .";
    }
    .menu-items .icon-label {
        display: none;
    }

    footer {
        font-size: small;
    }
}


.flex-container , .playlists-flex-container, .playlists-flex-container-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
}

.flex-container>div , .playlists-flex-container>div, .playlists-flex-container-2>div{
    font-size: 20px;
    overflow-wrap: anywhere;
    text-align: center;
    width: 100%;
    padding: 6%;
    height: 200px;
    min-width: 230px;
    max-width: 230px;
}

p{
    font-size: 80%;
}



.album-img .btn {
    position: relative;
    top: 6%;
    left: 0%;
    width: 28%;
    height: 24%;
    display: none;
    border-style: none;
}

.album-img .btn-pause {
    position: relative;
    top: -18%;
    left: 35%;
    width: 28%;
    height: 24%;
    display: none;
    border-style: none;
}

.album-img .btn-share {
    position: relative;
    top: -42%;
    left: 70%;
    width: 28%;
    height: 24%;
    display: none;
    border-style: none;
}



.album-img .btn-b {
    position: relative;
    top: -170%;
    left: -14%;
    width: 26%;
    height: 19%;
    display: none;
    border-style: none;
}

.share-song-pop{
    position: absolute;
    top: -100%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
    transition: top 0ms ease-in-out 300ms, 
    opacity 300ms ease-in-out, 
    margin-top 300ms ease-in-out;
}


.share-song-pop > * {
    margin: 15px 0px;
}

.share-song-pop .close-btn-pop {
    position: absolute;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: #eee;
    color:#111;
    border:none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.active-share{
    overflow: hidden;

}

#main-section::-webkit-scrollbar, .playlists-flex-container::-webkit-scrollbar,  .flex-container::-webkit-scrollbar{
    display: none;
}

.active-share #main-section{
    filter: blur(5px);
    background: rgb(0, 0, 0, 0.1);
    transition: filter 0ms ease-in-out 0ms;
    pointer-events: none;
}

.active-share .share-song-pop{
    top:  50%;
    opacity: 1;
    margin-top: 0px;
    transition: top 0ms ease-in-out 0ms, 
                opacity 300ms ease-in-out, 
                margin-top 300ms ease-in-out;
}



.album-img .btn-f {
    position: relative;
    top: -152%;
    left: 86%;
    width: 26%;
    height: 19%;
    border-style: none;
    display: none;
}

.album-img:hover {
    background: lightgray;
    overflow: hidden;
}
.album-img:hover .btn{
    display: block;
}
.album-img:hover .btn-pause{
    display: block;
}
.album-img:hover .btn-share{
    display: block;
}

.album-img:hover .btn-b{
    display: block;
}

.album-img:hover .btn-f{
    display: block;
}

/* Style for Login and Sign Up */
 #id00 input[type=text], #id00 input[type=password],
 #id01 input[type=text], #id01 input[type=password],  #id02 input[type=text], #id02 input[type=password]{
    width: 100%;
    padding: 2% 2%;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 3%;
    margin-bottom: 9%;
}

/* Style for Login and Sign Up */
#id04 input[type=text], #id04 input[type=password] {
    width: 100%;
    padding: 2% 5%;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 3%;
    margin-bottom: 9%;
 }
   

/* Style for Login and Sign Up */
#dropdown-search-main input[type=text], #dropdown-search-main input[type=password]{
   width: 100%;
   display: inline-block;
   box-sizing: border-box;
   margin-top: 3%;
   margin-bottom: 9%;
   padding-left: 17%;
}
  
   #id00 button, #id01 button,  #id02 button, .btn-playlist  {
    background-color: rgb(157 51 51);
    color: white;
    padding: 2% 2%;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

.imgcontainer {
    text-align: center;
    margin: 15% 0 10% 0;
  }
  
  img.avatar {
    width: 40%;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }

  #id04, #id00, #id01, #id02{
    display: none;
    height: 100%;
    overflow: scroll;
  }
  
  #id04 .modal, #id00 .modal, #id01 .modal,  #id02 .modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: scroll; 
    padding-top: 60px;
  }

  #id04 b, #id00 b, #id01 b, #id02 b{
    font-weight: initial;
    font-family: serif;
    font-size: x-large;
    color: #272626;
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    width: 80%; }
  
  
  /* Add Zoom Animation */
  .animate {
    animation: animatezoom 0.4s
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  }

.material-symbols-outlined{
    color: rgb(0, 0, 0);
}


.bar{
    position: relative;
    width: 43%;
    height: 2px;
    background-color: rgb(105, 105, 105, .1);
    margin: 0px 15px 0px 10px;

}
#dropdown-search-main{
    grid-area: my-input;
    position: relative;
    display: inline-block;
    width: 100%;

}
  #dropdown-search{
    position: relative;
    display: inline-block;
    width: 100%;
  }
    
  #dropdown-search-main:hover #myUL-songs-main {display: block;}
  
  
  
  #dropdown-search:hover #myUL-songs {display: block;}
  
  
  #playlist-song-input {
    background-position: left;
    background-size: 5%;
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 6%;
    background-image: url(https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_1280.png);
    background-blend-mode: difference;
  }
  
   #myUL-songs-main {
  display:none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 99 !important;
    position: absolute;
    top:77%
  }

  #myUL-songs {
    display:none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      z-index: 99 !important;
      position: absolute;
      top:57%
    }
  
  #myUL-songs li a, #myUL-songs-main li a  {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    cursor: pointer;
  }
  
  #myUL-songs li a:hover:not(.header), #myUL-songs-main li a:hover:not(.header) {
    background-color: #eee;
  }

  input {
    border: 1px solid #9e9e9ecc;
    
  }

  .error {   
    display: block;
    color: brown;
    margin: -7% 0px 20px 0;
    font-size: initial;
  }
  
  .copy-link-input {
    font-size: 14px;
    border: 1px solid #cccccc;
    outline: none;
    margin-top: 1%;
    height: 27px;
    width: 70%;

  }
  
  .copy-link-input:hover {
    background: #eeeeee;
    
  }
  
  #copy-link .copy-link-button {
    background: #dddddd;
    color: #333333;
    border: 1px solid #cccccc;
    cursor: pointer;
    position: relative;
    width: 15%;
    height: 30px;
  }
  
  .copy-link-button:hover {
    background: #cccccc;
  }
  

  

  h2 {
    font-family: 'Lora';
    font-weight: 800;
  }

  p {
    font-family: 'Lora';
  }