.container{
    display: grid; 
    height: 100vh; /* 100% of the viewport height */
    grid-template-columns: 25% 75%; /* 2 columns with 25% and 75% width */
    grid-template-rows: 20% 70% 10%; /* 3 rows with 20%, 70% and 10% height */
    grid-template-areas: 
        "header header2"
        "sidebar main"
        "footer footer";
    grid-gap: 0.2rem; /* 0.2rem gap between the columns and rows */
}

main{
    background-color: beige;
    grid-area: main;
}

#header1{
    grid-area: header;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "logo tittle";
    justify-content: center;
}
#logo{
    grid-area: logo;
    background-color: #f1f1f1;
    width: webkit-fill-available;
}
#tittle{
    grid-area: tittle;
    background-color: #f1f1f1;
}
#header2{
    background: lightblue;
    grid-area: header2;
}
#sidebar{
    background: lightgreen;
    grid-area: sidebar;
}

footer{
    background: lightcoral;
    grid-area: footer;
}

@media only sreen and (max-width:700px){


}











/*
.grid {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr min-content;
    grid-gap: 1em;
}

.left-side {
    background: lightblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    position: absolute;
    width: 20%;

}

.playlists {
    margin-top: 100px;
}




.right-side {
    background: lightgreen;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: scroll;
    height: 100%;
    max-height: 1000px;
}


header {
    grid-column-start: 1;
    grid-column-end: 3;

}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    background: lightcoral;
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    text-align: center;
    padding: 1%;
}


.menu-items {
    table-layout: fixed;
}


.menu-items td {
    width: 25%;
    padding: 1%;
}

.menu-items tr:hover {
    background-color: red;
}

.menu-items .blank_row {
    height: 100px
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
=}

.flex-container >div {
    font-size: 20px;
    overflow-wrap: anywhere;
    text-align: center;
    width: 100%;
    height: 400px;
}
.flex-container >div:hover {
    background-color: darkgray;
}

@media only screen and (max-width:800px)
{
    body {
        height: 100%;
        width: 100%;
    }
}


*/